@charset "utf-8";
/*padroes*/ 
body{
	font-family:arial;	
	color: #636262;
	background:#fbfbfb;
	font-size:12px;
}

/*desenv*/
.logo{
	margin-bottom:30px !important
}
.ri{
	padding:10px 10px 20px 10px;
	min-height:55px
}
.ri .ri-title{
	font-size:12px;
	margin-bottom:10px
}
.ri .ri-content{	
	font-size:20px;	
}
.ri .ri-content span{
	display:block;
	float:left;
	color:#fe5a59;
	padding-top:20px;
}
.ri .ri-content p{
	display:block;
	float:right;
	font-size:12px;
	width:70%;
	margin:0;
	padding:20px 0 0 0;
}
.panel-header{
	background:#f3f1f2;
	padding:0px 15px;
	height:auto;
	overflow:hidden;
	font-weight:bolder;
}
.panel-header:after{
	clear:both
}
.ph-title{
	float:left;
	padding: 14px 0 14px 0px;
}
.ph-title-links{
	float:left;
}
.ph-title-links a{
	margin:14px 7px 0px 14px;
	color: #636262;
	text-decoration:none;
	display:block;
	float:left;
	height:28px;
	border-bottom:3px solid #f3f1f2
}
.ph-title-links a:hover, .ph-title-links .active{
	color: #14afdf;
	border-bottom:3px solid #14afdf
}
.ph-icon{
	float:right;
	border-left:1px solid #d6d6d6;
	padding:7px 0 7px 15px;
	margin:7px 0;
}
.panel-content{
	padding:20px 10px;
}
.panel-content > div{
width:inherit;
height:inherit;}
.tablegc{
	max-height: 150px;
    overflow-y: auto;
}

.row,
.col{
  box-sizing: border-box;
}

.row:before,
.row:after {
  content: " ";
  display: table;
}
 
.row:after {
  clear: both;
}

.col{
  position: relative;
  float: left;
  margin-bottom:15px;
  border-right: 2px solid #ccc;
  border-bottom: 2px solid #ccc
}

.col+ .col{
  margin-left: 1.6%;
}

.col-g-1 {
  width: 6.86666666667%;
}
 
.col-g-2 {
  width: 15.3333333333%;
}
 
.col-g-3 {
  width: 23.8%;
}
 
.col-g-4 {
  width: 32.2666666667%;
}
 
.col-g-5 {
  width: 40.7333333333%;
}
 
.col-g-6 {
  width: 49.2%;
}
 
.col-g-7 {
  width: 57.6666666667%;
}
 
.col-g-8 {
  width: 66.1333333333%;
}
 
.col-g-9 {
  width: 74.6%;
}
 
.col-g-10 {
  width: 83.0666666667%;
}
 
.col-g-11 {
  width: 91.5333333333%;
}
 
.col-g-12 {
  width: 100%;
}


@media (max-width: 420px) {
  .col-g-1,
  .col-g-2,
  .col-g-3,
  .col-g-4,
  .col-g-5,
  .col-g-6,
  .col-g-7,
  .col-g-8,
  .col-g-9,
  .col-g-10,
  .col-g-11,
  .col-g-12 {
    width: auto;
    float: none;
  }
 
  .col+ .col{
    margin-left: 0;
  }
  
  .logo{
	text-align:center
  } 	
}
@media (min-width: 421px) and (max-width: 767px) { 
	.col+ .col{
		margin-left: 0.8%;
	}
	.col-g-2 {
		width: 49.2%;
	}
	  .col-g-3,
	  .col-g-4,
	  .col-g-5,
	  .col-g-6,
	  .col-g-7,
	  .col-g-8,
	  .col-g-9,
	  .col-g-10,
	  .col-g-11,
	  .col-g-12 {
		width: auto;
		float: none;
	  }	
}
@media (min-width: 768px) and (max-width: 992px) { 
	.col+ .col{
		margin-left: 1%;
	}
	.col-g-2 {
		width: 32.2666666667%;
	}
}


/*tricks*/
.no-border{
	border:none;
}
.align-center{
	text-align:center
}

/* Google Charts */
.google-visualization-table-tr-head{
	background: none !important;
}
.google-visualization-table-table th, .google-visualization-table-table td{
	border: none !important;
	text-align:left !important
}
.google-visualization-table{
	border:none !important;
}
